<%- include('partials/header'); -%>
<br>
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">Hello, world!</h1>
	  <p class="lead">Проста база обліку техніки (ejs).</p>
	  <hr class="my-4">
	  <p>Інші сторінки: </p>
	  <a class="btn btn-primary btn-lg" href="/brand" role="button">Вендор</a>
	  <a class="btn btn-success btn-lg" href="/item" role="button">Залізо</a>
	</div>
</div>
<%- include('partials/footer'); -%>